<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Initiatives Platform :: Login</title>
<link rel="stylesheet" type="text/css" href="css/login.css"/>
</head>
<body>
	<form class="modal-content" action="#" th:action="@{/login}" method="post">
		<div class="container">
    		<label for="uname"><b>User Name</b></label>
      		<input type="text" placeholder="Enter Username" name="username" required>

     		<label for="psw"><b>Password</b></label>
      		<input type="password" placeholder="Enter Password" name="password" required>
        
      		<button type="submit">Login</button>
      		<button type="button" onclick="" class="cancelbtn">Cancel</button>
      		<label>
        		<input type="checkbox" checked="checked" name="remember">
        		Remember me
        	</label>
        	<span class="psw">Forgot <a href="#">password?</a></span>
    	</div>
  	</form>
</body>
</html>